{{!-- Creates a table to display the abilities --}}

{{!-- This partial takes a variable called mode which is uses --}}
{{!-- to determine where the ability belongs --}}
<div class="ability-list item-list ability-table">
    <table class="{{#color}}{{mode}}{{/color}}-abilities box-border"
        style="{{getAbilitiesEnabledFromStatusClass mode this.actor.data.data}}">
        <tr>
            <th>{{localize "SCRPG.abilities.icon"}}</th>
            <th>{{localize "SCRPG.abilities.name"}}</th>
            <th>{{localize "SCRPG.abilities.type"}}</th>
            <th>{{localize "SCRPG.abilities.gameText"}}</th>
            <th>
                <a title='{{localize "SCRPG.button.addNew"}}' class="add-ability" data-type="ability"
                    data-aux="{{mode}}">
                    <i class=" fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{#each actor.ability as |ability id|}}
        {{#if (eq ability.data.aux ../mode)}}
        <tr class="ability-item item" data-item-id="{{ability._id}}">
            <td>
                {{!-- Icons can be selected here --}}
                <div class="icon-position">
                    {{#if (eq data.icon.attack true)}}<div class="icon"><i title={{localize "SCRPG.abilitytypes.attack"
                            }} class="fas fa-hand-rock"></i></div>{{/if}}
                    {{#if (eq data.icon.defend true)}}<div class="icon"><i title={{localize "SCRPG.abilitytypes.defend"
                            }} class="fas fa-shield-alt"></i></div>{{/if}}
                    {{#if (eq data.icon.overcome true)}}<div class="icon"><i
                            title={{localize "SCRPG.abilitytypes.overcome" }} class="fas fa-share"></i></div>{{/if}}
                    {{#if (eq data.icon.hinder true)}}<div class="icon"><i title={{localize "SCRPG.abilitytypes.hinder"
                            }} class="fas fa-angle-double-down"></i></div>{{/if}}
                    {{#if (eq data.icon.boost true)}}<div class="icon"><i title={{localize "SCRPG.abilitytypes.boost" }}
                            class="fas fa-angle-double-up"></i></div>{{/if}}
                    {{#if (eq data.icon.recover true)}}<div class="icon"><i
                            title={{localize "SCRPG.abilitytypes.recover" }} class="fas fa-plus-square"></i></div>
                    {{/if}}
                </div>
            </td>
            <td>
                {{name}}
            </td>
            <td>
                <div title="{{getLocalizeAbilityTypeTooltip data.type}}">{{getLocalizeAbilityTypeDescription
                    data.type}}
                </div>
            </td>
            <td>
                <div>{{{data.gameText}}}</div>

            </td>
            <td>
                {{!-- buttons for editing and deleting the ablity --}}
                <a title='{{localize "SCRPG.button.edit"}}' class="item-edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a title='{{localize "SCRPG.button.delete"}}' class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </table>
</div>