<div class="{{#color}}{{minor}}{{/color}}-twists box-border">
    <h3 class="twist-title-color">
        {{#if (eq title "green")}} {{localize "SCRPG.scene.green"}} {{/if}}
        {{#if (eq title "yellow")}} {{localize "SCRPG.scene.yellow"}} {{/if}}
        {{#if (eq title "red")}} {{localize "SCRPG.scene.red"}} {{/if}}
    </h3>
    <div class="twist-title">
        <h3>{{localize "SCRPG.twist.minorTwist"}}</h3>
        <a class="create-twist" data-type="environmentTwist" data-aux="{{minor}}">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <section class="environmentTwist-list item-list">
        {{#each actor.environmentTwist as |twist id|}}
        {{#if (eq twist.data.type ../minor)}}
        <div class="environmentTwist-item item" data-item-id="{{twist._id}}">
            <div class="nested-name">
                <p>{{name}}: </p>
                {{{data.description}}}
            </div>
            <div class="environment-buttons">
                {{!-- buttons for editing and deleting the twist --}}
                <a class="item-edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </section>

    <div class="twist-title">
        <h3>{{localize "SCRPG.twist.majorTwist"}}</h3>
        <a class="create-twist" data-type="environmentTwist" data-aux="{{major}}">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <section class="environmentTwist-list item-list">
        {{#each actor.environmentTwist as |twist id|}}
        {{#if (eq twist.data.type ../major)}}
        <div class="environmentTwist-item item" data-item-id="{{twist._id}}">
            <div class="nested-name">
                <p>{{name}}: </p>
                {{{data.description}}}
            </div>
            <div class="environment-buttons">
                {{!-- buttons for editing and deleting the twist --}}
                <a class="item-edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </section>
</div>