{{!-- Default mode/form --}}
<div {{#if (eq data.data.mode "main" )}} class="select-border green-abilities mode-name"
    {{else}}class="box-border green-abilities mode-name" {{/if}}>
    <input class="mode-name-input" type="text" name="data.modeName.main" value="{{data.data.modeName.main}}" />
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a class="show-main mode-item" {{#if (eq data.data.modeDisplayed.main true )}} style="color:green" {{/if}}
        data-aux="main">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a class="set-mode mode-item" {{#if (eq data.data.mode "main" )}} style="color:green" {{/if}} data-aux="main">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq data.data.modeDisplayed.main true)}}
<div class="mode-card box-border green-abilities">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="main"}}

        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor content=data.data.modeDescription.main target="data.modeDescription.main"
                        button=true
                        owner=owner editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{else}}
<br>
{{/if}}

{{!-- First green mode/form --}}
<div {{#if (eq data.data.mode "green1" )}} class="select-border green-abilities mode-name"
    {{else}}class="box-border green-abilities mode-name" {{/if}}>
    <input class="mode-name-input" type="text" name="data.modeName.green1" value="{{data.data.modeName.green1}}" />
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a class="show-green1 mode-item" {{#if (eq data.data.modeDisplayed.green1 true )}} style="color:green" {{/if}}
        data-aux="green1">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a class="set-mode mode-item" {{#if (eq data.data.mode "green1" )}} style="color:green" {{/if}} data-aux="green1">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq data.data.modeDisplayed.green1 true)}}
<div class="mode-card box-border green-abilities">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="green1"}}

        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor content=data.data.modeDescription.green1 target="data.modeDescription.green1"
                        button=true
                        owner=owner editable=editable}}
                    </td>
                </tr>
            </table>
        </div>

        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="green1"}}

    </div>
</div>
{{else}}
<br>
{{/if}}

{{!-- Second green mode/form --}}
{{#if (eq data.data.powerless true)}}
<div {{#if (eq data.data.mode "green2" )}} class="select-border green-abilities mode-name"
    {{else}}class="box-border green-abilities mode-name" {{/if}}>
    <input class="mode-name-input" type="text" name="data.modeName.green2" value="{{data.data.modeName.green2}}">
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a class="show-green2 mode-item" {{#if (eq data.data.modeDisplayed.green2 true )}} style="color:green" {{/if}}
        data-aux="green2">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a class="set-mode mode-item" {{#if (eq data.data.mode "green2" )}} style="color:green" {{/if}} data-aux="green2">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}

{{#if (eq data.data.modeDisplayed.green2 true)}}
<div class="mode-card box-border green-abilities">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="green2"}}

        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor content=data.data.modeDescription.green2 target="data.modeDescription.green2"
                        button=true
                        owner=owner editable=editable}}
                    </td>
                </tr>
            </table>
        </div>

        {{#if (eq data.data.formchanger true)}}
        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="green2"}}
        {{/if}}
    </div>
</div>
{{else}}
<br>
{{/if}}
{{/if}}


{{!-- First yellow mode/form --}}
<div {{#if (eq data.data.mode "yellow1" )}} class="select-border yellow-abilities mode-name"
    {{else}}class="box-border yellow-abilities mode-name" {{/if}}>
    <input class="mode-name-input" type="text" name="data.modeName.yellow1" value="{{data.data.modeName.yellow1}}">
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a class="show-yellow1 mode-item" {{#if (eq data.data.modeDisplayed.yellow1 true )}} style="color:green" {{/if}}
        data-aux="yellow1">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a class="set-mode mode-item" {{#if (eq data.data.mode "yellow1" )}} style="color:green" {{/if}} data-aux="yellow1">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq data.data.modeDisplayed.yellow1 true)}}
<div class="mode-card box-border yellow-abilities">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="yellow1"}}

        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor content=data.data.modeDescription.yellow1 target="data.modeDescription.yellow1"
                        button=true
                        owner=owner editable=editable}}
                    </td>
                </tr>
            </table>
        </div>

        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="yellow1"}}

    </div>
</div>
{{else}}
<br>
{{/if}}