{{!-- Hero points, back issues and collected trades --}}

<section class="issues-grid">
    <div class="box-border hero-point">
        {{!-- Hero points collected in a session --}}
        <div class="hero-point-grid">
            <div class="hero-point-grid-item">
                <h3>{{localize "SCRPG.issues.heroPoints"}}</h3>
                <h3>{{localize "SCRPG.issues.thisIssue"}}:</h3>
            </div>
            <div class="hero-point-two">
                <input type="checkbox" name="system.heroPoints.game.one" {{checked actor.system.heroPoints.game.one}}
                    data-dtype="boolean" />
                <input type="checkbox" name="system.heroPoints.game.two" {{checked actor.system.heroPoints.game.two}}
                    data-dtype="boolean" />
            </div>
            <div class="hero-point-three">
                <input type="checkbox" name="system.heroPoints.game.three" {{checked
                    actor.system.heroPoints.game.three}} data-dtype="boolean" />
                <input type="checkbox" name="system.heroPoints.game.four" {{checked actor.system.heroPoints.game.four}}
                    data-dtype="boolean" />
                <input type="checkbox" name="system.heroPoints.game.five" {{checked actor.system.heroPoints.game.five}}
                    data-dtype="boolean" />
            </div>
        </div>

        {{!-- Hero rewards available for +1, +2, +3, and +4 --}}
        <div>
            <h3>{{localize "SCRPG.issues.heroPointRewards"}}</h3>
            <div class="hero-reward-grid">
                <div>
                    <h3>+1</h3>
                </div>
                <div class="hero-point-four">
                    <input type="checkbox" name="system.heroPoints.one.one" {{checked actor.system.heroPoints.one.one}}
                        data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.one.two" {{checked actor.system.heroPoints.one.two}}
                        data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.one.three" {{checked
                        actor.system.heroPoints.one.three}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.one.four" {{checked
                        actor.system.heroPoints.one.four}} data-dtype="boolean" />
                </div>
                <div>
                    <h3>+2</h3>
                </div>
                <div class="hero-point-four">
                    <input type="checkbox" name="system.heroPoints.two.one" {{checked actor.system.heroPoints.two.one}}
                        data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.two.two" {{checked actor.system.heroPoints.two.two}}
                        data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.two.three" {{checked
                        actor.system.heroPoints.two.three}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.two.four" {{checked
                        actor.system.heroPoints.two.four}} data-dtype="boolean" />
                </div>
                <div>
                    <h3>+3</h3>
                </div>
                <div class="hero-point-four">
                    <input type="checkbox" name="system.heroPoints.three.one" {{checked
                        actor.system.heroPoints.three.one}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.three.two" {{checked
                        actor.system.heroPoints.three.two}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.three.three" {{checked
                        actor.system.heroPoints.three.three}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.three.four" {{checked
                        actor.system.heroPoints.three.four}} data-dtype="boolean" />
                </div>
                <div>
                    <h3>+4</h3>
                </div>
                <div class="hero-point-four">
                    <input type="checkbox" name="system.heroPoints.four.one" {{checked
                        actor.system.heroPoints.four.one}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.four.two" {{checked
                        actor.system.heroPoints.four.two}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.four.three" {{checked
                        actor.system.heroPoints.four.three}} data-dtype="boolean" />
                    <input type="checkbox" name="system.heroPoints.four.four" {{checked
                        actor.system.heroPoints.four.four}} data-dtype="boolean" />
                </div>
            </div>
        </div>
    </div>

    {{!-- Names of back issues --}}
    <div class="box-border back-issues">
        <h3>{{localize "SCRPG.issues.backIssues"}}</h3>
        <input name="system.backIssue.one" type="text" value="{{actor.system.backIssue.one}}">
        <input name="system.backIssue.two" type="text" value="{{actor.system.backIssue.two}}">
        <input name="system.backIssue.three" type="text" value="{{actor.system.backIssue.three}}">
        <input name="system.backIssue.four" type="text" value="{{actor.system.backIssue.four}}">
        <input name="system.backIssue.five" type="text" value="{{actor.system.backIssue.five}}">
        <input name="system.backIssue.six" type="text" value="{{actor.system.backIssue.six}}">
    </div>

    {{!-- Names of collections and checkboxes for marking if they were used --}}
    <div class="box-border collections">
        <h3>{{localize "SCRPG.issues.collections"}}</h3>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.one" {{checked actor.system.collectionsUsed.one}}
                data-dtype="boolean" />
            <input name="system.collections.one" type="text" value="{{actor.system.collections.one}}">
        </div>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.two" {{checked actor.system.collectionsUsed.two}}
                data-dtype="boolean" />
            <input name="system.collections.two" type="text" value="{{actor.system.collections.two}}">
        </div>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.three" {{checked actor.system.collectionsUsed.three}}
                data-dtype="boolean" />
            <input name="system.collections.three" type="text" value="{{actor.system.collections.three}}">
        </div>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.four" {{checked actor.system.collectionsUsed.four}}
                data-dtype="boolean" />
            <input name="system.collections.four" type="text" value="{{actor.system.collections.four}}">
        </div>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.five" {{checked actor.system.collectionsUsed.five}}
                data-dtype="boolean" />
            <input name="system.collections.five" type="text" value="{{actor.system.collections.five}}">
        </div>
        <div class="collection-grid">
            <input type="checkbox" name="system.collectionsUsed.six" {{checked actor.system.collectionsUsed.six}}
                data-dtype="boolean" />
            <input name="system.collections.six" type="text" value="{{actor.system.collections.six}}">
        </div>
    </div>
</section>