{{!-- Hero minions and minion forms --}}

{{#if (eq actor.type "hero")}}
<h3 class="section-name section-name-ability">{{localize "SCRPG.minion.minionForm"}}</h3>
{{else}}
<h3 class="section-name section-name-ability">{{localize "SCRPG.minion.minionAbilities"}}</h3>
{{/if}}
<div class="minion-form-list item-list">
    {{!-- Table to displaying available minion forms --}}
    <table class="villain-abilities box-border minion-form-table">
        <tr>
            <th class="first-column">{{localize "SCRPG.sheet.name"}}</th>
            <th>{{localize "SCRPG.sheet.description"}}</th>
            {{#if (eq this.actor.data.type "hero")}}
            <th class="third-column">{{localize "SCRPG.sheet.bonus"}}</th>
            {{/if}}
            <th class="fourth-column">
                {{!-- Button for adding a new minion form --}}
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create" data-type="minionForm">
                    <i class=" fas fa-plus"></i>
                </a>
            </th>
        </tr>
        {{!-- Displays all minion forms the character has --}}
        {{#each actor.minionForm as |minionForm id|}}
        <tr class="minionForm-item item" data-item-id="{{minionForm._id}}">
            <td>
                {{name}}
            </td>
            <td>
                {{{data.description}}}
            </td>
            {{#if (eq ../this.actor.data.type "hero")}}
            <td>
                {{getLocalizeMinionBonus data.bonus}}
            </td>
            {{/if}}
            <td>
                {{!-- buttons for editing and deleting the minion form --}}
                <a title='{{localize "SCRPG.button.edit" }}' class="item-edit">
                    <i class="fas fa-edit"></i>
                </a>
                <a title='{{localize "SCRPG.button.delete" }}' class="item-delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

{{!-- Section for displaying available minons and their abilities --}}
<div class="section-name section-name-minion">
    <h3>{{localize "SCRPG.minion.minions"}}</h3>
    <div class="buttons">
        <a title='{{localize "SCRPG.button.addNew" }}' class="item-create" data-type="heroMinion">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<div class="heroMinion-list item-list box-border">
    {{#each actor.heroMinion as |heroMinion id|}}
    <div class="heroMinion-item item" data-item-id="{{heroMinion._id}}">
        <table class="villain-abilities box-border minion-stats">
            <tr>
                <th colspan="2" class="minion-title">
                    <div class="minion-name">
                        <h3>{{name}}</h3>
                        <div class="minion-button">
                            <a title='{{localize "SCRPG.button.rollMinion" }}' class="roll-minion">
                                <i class="fas fa-dice"></i>
                            </a>
                            <a title='{{localize "SCRPG.button.downgrade" }}' class="downgrade-minion">
                                <i class="fas fa-angle-double-down"></i>
                            </a>
                            <a title='{{localize "SCRPG.button.edit" }}' class="item-edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a title='{{localize "SCRPG.button.delete" }}' class="item-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>{{localize "SCRPG.minion.action"}}</th>
                <td>{{getLocalizeMinionAbility data.action}}</td>
            </tr>
            <tr>
                {{#if (eq ../this.actor.data.type "hero")}}
                <th>{{localize "SCRPG.minion.form"}}</th>
                {{else}}
                <th>{{localize "SCRPG.minion.ability"}}</th>
                {{/if}}
                <td>{{data.form}}</td>
            </tr>
            <tr>
                <th>{{localize "SCRPG.sheet.die"}}</th>
                <td>{{data.dieType}}</td>
            </tr>
        </table>
    </div>
    {{/each}}
</div>