{{!-- Available Mods --}}
<section>
    <div class="section-name section-name-mod">
        <h3>{{localize "SCRPG.mod.mod"}}</h3>
    </div>
    <div class="mods item-list">
        <table class="box-border">
            <tr>
                <th>{{localize "SCRPG.mod.addNew"}}</th>
                <th>{{localize "SCRPG.mod.bonus"}}</th>
                <th>{{localize "SCRPG.mod.penalty"}}</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <button class="create-mod" data-type="mod" data-value="+1">+1</button>
                        <button class="create-mod" data-type="mod" data-value="+2">+2</button>
                        <button class="create-mod" data-type="mod" data-value="+3">+3</button>
                        <button class="create-mod" data-type="mod" data-value="+4">+4</button>
                    </div>
                    <div>
                        <button class="create-mod" data-type="mod" data-value="-1">-1</button>
                        <button class="create-mod" data-type="mod" data-value="-2">-2</button>
                        <button class="create-mod" data-type="mod" data-value="-3">-3</button>
                        <button class="create-mod" data-type="mod" data-value="-4">-4</button>
                    </div>
                    <div>
                        {{localize "SCRPG.mod.persistant"}}
                        <input type="checkbox" name="data.persistant" {{checked data.data.persistant}}
                            data-dtype="boolean" />
                    </div>
                    <div>
                        {{localize "SCRPG.mod.exclusive"}}
                        <input type="checkbox" name="data.exclusive" {{checked data.data.exclusive}}
                            data-dtype="boolean" />
                    </div>
                </td>
                <td>
                    <div class="bonuses">
                        {{#each actor.mod as |mod id|}}
                        {{#if (gte data.value 0)}}
                        <div class="mod-item item box-border green-abilities" data-item-id="{{ mod._id}}">
                            <h3>{{data.value}}</h3>
                            {{#if (eq data.persistant true)}}
                            <i title='{{localize "SCRPG.mod.persistant"}}' class="fas fa-hourglass"></i>
                            {{/if}}
                            {{#if (eq data.exclusive true)}}
                            <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                            {{/if}}
                            <a title='{{localize "SCRPG.button.delete" }}' class="item-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </td>
                <td>
                    <div class="penalties">
                        {{#each actor.mod as |mod id|}}
                        {{#if (lte data.value 0)}}
                        <div class="mod-item item box-border red-abilities" data-item-id="{{ mod._id}}">
                            <h3>{{data.value}}</h3>
                            {{#if (eq data.persistant true)}}
                            <i class="fas fa-hourglass"></i>
                            {{/if}}
                            {{#if (eq data.exclusive true)}}
                            <i class="fas fa-lock"></i>
                            {{/if}}
                            <a title='{{localize "SCRPG.button.delete" }}' class="item-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>