{{!-- Available Mods --}}
<section>
    <div class="section-name section-name-mod">
        <h3>{{localize "SCRPG.mod.mod"}}</h3>
    </div>
    <div class="mods item-list">
        <table class="box-border">
            <tr>
                <th>{{localize "SCRPG.mod.addNew"}}</th>
                <th>{{localize "SCRPG.mod.bonus"}}</th>
                <th>{{localize "SCRPG.mod.penalty"}}</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <input name="data.modName" type="text" value="{{data.data.modName}}"
                            placeholder='{{localize "SCRPG.mod.modName"}}' />
                    </div>
                    <div class="mod-dialogue">
                        <div class="mod-per-dialogue">
                            <p>
                                {{localize "SCRPG.mod.persistant"}}
                                <i title='{{localize "SCRPG.mod.persistant"}}' class="fas fa-hourglass"></i>
                            </p>
                            <input type="checkbox" name="data.persistant" {{checked data.data.persistant}}
                                data-dtype="boolean" />
                        </div>
                        <div class="mod-exc-dialogue">
                            <p>
                                {{localize "SCRPG.mod.exclusive"}}
                                <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                            </p>
                            <input type="checkbox" name="data.exclusive" {{checked data.data.exclusive}}
                                data-dtype="boolean" />
                        </div>
                    </div>
                    <div class="mod-buttons">
                        {{#multiple 4}}
                        <div class="mod-buttons-child">
                            <a title='{{localize "SCRPG.button.addNew"}}'
                                class="create-mod mod-link box-border green-abilities" data-type="mod"
                                data-value="+{{@index}}">
                                <h3>+{{@index}}</h3>
                            </a>
                        </div>
                        {{/multiple}}
                        {{#multiple 4}}
                        <div class="mod-buttons-child">
                            <a title='{{localize "SCRPG.button.addNew"}}'
                                class="create-mod mod-link box-border red-abilities" data-type="mod"
                                data-value="-{{@index}}">
                                <h3>-{{@index}}</h3>
                            </a>
                        </div>
                        {{/multiple}}
                    </div>
                </td>
                <td>
                    <div class="bonuses">
                        {{#each actor.mod as |mod id|}}
                        {{#if (gte data.value 0)}}
                        <div class="mod-item item box-border green-abilities" data-item-id="{{ mod._id}}">
                            <h3>{{#if (eq data.named true)}}{{name}}{{/if}} {{data.value}}</h3>
                            <div class="p-e-icon">
                                {{#if (eq data.persistant true)}}
                                <i title='{{localize "SCRPG.mod.persistant"}}' class="fas fa-hourglass"></i>
                                {{/if}}
                                {{#if (eq data.exclusive true)}}
                                <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                                {{/if}}
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </td>
                <td>
                    <div class="penalties">
                        {{#each actor.mod as |mod id|}}
                        {{#if (lte data.value 0)}}
                        <div class="mod-item item box-border red-abilities" data-item-id="{{ mod._id}}">
                            <h3>{{#if (eq data.named true)}}{{name}}{{/if}} {{data.value}}</h3>
                            <div class="p-e-icon">
                                {{#if (eq data.persistant true)}}
                                <i title='{{localize "SCRPG.mod.persistant"}}' class="fas fa-hourglass"></i>
                                {{/if}}
                                {{#if (eq data.exclusive true)}}
                                <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                                {{/if}}
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>