{{!-- Displays the powers, qualities, status and health --}}
{{!-- Standard roles of power, quality and status together --}}
{{!-- Individual rolls of power quality or status --}}


{{!-- Powers --}}
<section class="powersqualities box-border">
    <table>
        {{#if (eq actor.type "hero")}}
        <colgroup>
            <col width="31%">
            <col width="31%">
            <col width="23%">
            <col>
        </colgroup>
        {{/if}}
        {{#if (eq actor.type "villain")}}
        <colgroup>
            <col width="33.33%">
            <col width="33.33%">
            <col>
        </colgroup>
        {{/if}}
        <tr>
            {{!-- Displays powers or qualities header depending on wether there character is divided and --}}
            {{!-- which divided state they are currently in --}}
            {{#if (eq data.data.dividedPsyche true)}}
            {{#if (eq data.data.civilianMode true)}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.qualities"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just quality die and creating new quality --}}
                        <a title='{{localize "SCRPG.button.rollQuality"}}' class="roll-power">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="quality">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{else}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.powers"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just power die and creating new power --}}
                        <a title='{{localize "SCRPG.button.rollPower"}}' class="roll-power">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="power"
                            data-aux="{{data.data.mode}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/if}}
            {{else}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.powers"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just power die and creating new power --}}
                        <a title='{{localize "SCRPG.button.rollPower"}}' class="roll-power">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="power"
                            data-aux="{{data.data.mode}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/if}}

            {{!-- Displays powers or qualities header depending on wether there character is divided and --}}
            {{!-- which divided state they are currently in --}}
            {{#if (eq data.data.dividedPsyche true)}}
            {{#if (eq data.data.poweredMode true)}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.powers"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just power die and creating new power --}}
                        <a title='{{localize "SCRPG.button.rollPower"}}' class="roll-quality">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="power"
                            data-aux="{{data.data.mode}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{else}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.qualities"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just quality die and creating new quality --}}
                        <a title='{{localize "SCRPG.button.rollQuality"}}' class="roll-quality">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="quality">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/if}}
            {{else}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.qualities"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just quality die and creating new quality --}}
                        <a title='{{localize "SCRPG.button.rollQuality"}}' class="roll-quality">
                            <i class="fas fa-dice"></i>
                        </a>
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="quality">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/if}}


            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.statusDice"}}</h3>
                    <div class="buttons">
                        {{!-- buttons for rolling just status die --}}
                        <a title='{{localize "SCRPG.button.rollStatus"}}' class="roll-status">
                            <i class="fas fa-dice"></i>
                        </a>
                        {{!-- button for adding new status type for villains --}}
                        {{#if (eq actor.type "villain")}}
                        <a title='{{localize "SCRPG.button.addNew"}}' class="item-create" data-type="villainStatus">
                            <i class="fas fa-plus"></i>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </td>
            {{!-- Displays header for health for hero type character --}}
            {{#if (eq actor.type "hero")}}
            <td>
                <div class="section-name section-name-powerquality">
                    <h3>{{localize "SCRPG.powerquality.status"}}</h3>
                </div>
            </td>
            {{/if}}
        </tr>

        <tr>
            {{!-- Displays powers or qualities depending on wether there character is divided and --}}
            {{!-- which divided state they are currently in --}}
            {{#if (eq data.data.dividedPsyche true)}}
            {{#if (eq data.data.civilianMode true)}}
            <td class="top-align">
                <div class="quality-list item-list">
                    {{!-- Displays all qualities --}}
                    {{!-- Qualities can be clicked to set them to the main roll --}}
                    {{#each actor.quality as |quality id|}}
                    <a class="quality-item item set-power {{#if (eq quality.data.selected 'power')}}quality-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{quality._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/each}}
                </div>
            </td>
            {{else}}
            <td class="top-align">
                <div class="power-list item-list">
                    {{!-- Displays all powers --}}
                    {{!-- Powers can be clicked to set them to the main roll --}}
                    {{#each actor.power as |power id|}}
                    {{#if (eq power.data.aux ../data.data.mode)}}
                    <a class="power-item item set-power {{#if (eq power.data.selected 'power')}}power-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{power._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
            </td>
            {{/if}}
            {{else}}
            <td class="top-align">
                <div class="power-list item-list">
                    {{!-- Displays all powers --}}
                    {{!-- Powers can be clicked to set them to the main roll --}}
                    {{#each actor.power as |power id|}}
                    {{#if (eq power.data.aux ../data.data.mode)}}
                    <a class="power-item item set-power {{#if (eq power.data.selected 'power')}}power-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{power._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
            </td>
            {{/if}}

            {{!-- Displays powers or qualities depending on wether there character is divided and --}}
            {{!-- which divided state they are currently in --}}
            {{#if (eq data.data.dividedPsyche true)}}
            {{#if (eq data.data.poweredMode true)}}
            <td class="top-align">
                <div class="power-list item-list">
                    {{!-- Displays all powers --}}
                    {{!-- Powers can be clicked to set them to the main roll --}}
                    {{#each actor.power as |power id|}}
                    {{#if (eq power.data.aux ../data.data.mode)}}
                    <a class="power-item item set-quality  {{#if (eq power.data.selected 'quality')}}power-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{power._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
            </td>
            {{else}}
            <td class="top-align">
                <div class="quality-list item-list">
                    {{!-- Displays all qualities --}}
                    {{!-- Qualities can be clicked to set them to the main roll --}}
                    {{#each actor.quality as |quality id|}}
                    <a class="quality-item item set-quality {{#if (eq quality.data.selected 'quality')}}quality-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{quality._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/each}}
                </div>
            </td>
            {{/if}}
            {{else}}
            <td class="top-align">
                <div class="quality-list item-list">
                    {{!-- Displays all qualities --}}
                    {{!-- Qualities can be clicked to set them to the main roll --}}
                    {{#each actor.quality as |quality id|}}
                    <a class="quality-item item set-quality  {{#if (eq quality.data.selected 'quality')}}quality-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{quality._id}}">
                        <div class="name">{{name}}</div>
                        <div class="center">{{data.dieType}}</div>
                    </a>
                    {{/each}}
                </div>
            </td>
            {{/if}}

            {{!-- Displays status dice and health ranges --}}
            {{#if (eq actor.type "hero")}}
            <td class="top-align">
                <div class="status-dice">
                    {{!-- Green status dice type --}}
                    {{#if (eq data.data.dividedStatus true)}}
                    {{#if (eq data.data.poweredMode true)}}
                    <div class="health-box green-border green-status-background">
                        {{data.data.statusDie.green}}
                    </div>
                    {{else}}
                    <div class="health-box green-border green-status-background">
                        {{data.data.statusDie.civilianGreen}}
                    </div>
                    {{/if}}
                    {{else}}
                    <select class="status-die-update green-border green-status-background" name="data.statusDie.green">
                        {{#select data.data.statusDie.green}}
                        {{#each config.dieTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}

                    {{!-- Input to set maximum health --}}
                    {{!-- Health ranges updated automatically based on max health --}}
                    {{!-- Green health range --}}
                    <div class="health-box green-border green-status-background">
                        <input class="max-update" name="data.wounds.max" type="text" value="{{data.data.wounds.max}}"
                            data-dtype="Number">

                        - {{this.actor.data.data.health.greenLow}}
                    </div>

                    {{!-- Yellow status dice type --}}
                    {{#if (eq data.data.dividedStatus true)}}
                    {{#if (eq data.data.poweredMode true)}}
                    <div class="health-box yellow-border yellow-status-background">
                        {{data.data.statusDie.yellow}}
                    </div>
                    {{else}}
                    <div class="health-box yellow-border yellow-status-background">
                        {{data.data.statusDie.civilianYellow}}
                    </div>
                    {{/if}}
                    {{else}}
                    <select class="status-die-update yellow-border yellow-status-background"
                        name="data.statusDie.yellow">
                        {{#select data.data.statusDie.yellow}}
                        {{#each config.dieTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}

                    {{!-- Yellow health range --}}
                    <div class="health-box yellow-border yellow-status-background">
                        {{this.actor.data.data.health.yellowHigh}} -
                        {{this.actor.data.data.health.yellowLow}}
                    </div>

                    {{!-- Red status dice type --}}
                    {{#if (eq data.data.dividedStatus true)}}
                    {{#if (eq data.data.poweredMode true)}}
                    <div class="health-box red-border red-status-background">
                        {{data.data.statusDie.red}}
                    </div>
                    {{else}}
                    <div class="health-box red-border red-status-background">
                        {{data.data.statusDie.civilianRed}}
                    </div>
                    {{/if}}
                    {{else}}
                    <select class="status-die-update red-border red-status-background" name="data.statusDie.red">
                        {{#select data.data.statusDie.red}}
                        {{#each config.dieTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}

                    {{!-- Red health range --}}
                    <div class="health-box red-border red-status-background">
                        {{this.actor.data.data.health.redHigh}} -
                        {{this.actor.data.data.health.redLow}}
                    </div>

                </div>
            </td>
            {{/if}}

            {{!-- Villain status dice --}}
            {{#if (eq actor.type "villain")}}
            <td class="top-align">
                <div class="villain-status-list item-list">
                    {{!-- Displays all villain statuses --}}
                    {{!-- Villain statuses can be clicked to set them to the main roll --}}
                    {{#each actor.villainStatus as |villainStatus id|}}
                    <a class="villain-status-item item set-villain-status  {{#if (eq villainStatus.data.selected true)}}villain-status-item-selected{{/if}}"
                        title='{{localize "SCRPG.button.addToRoll"}}' data-item-id="{{villainStatus._id}}">
                        <div>{{name}}</div>
                        <div style="text-align: center">{{data.dieType}}</div>
                    </a>
                    {{/each}}
                </div>
            </td>
            {{/if}}

            {{!-- Hero current health and scene status --}}
            {{#if (eq actor.type "hero")}}
            <td class="top-align">
                <div class="status">
                    <h4>{{localize "SCRPG.powerquality.currentHealth"}}</h4>
                    <div class="current-health">
                        <input {{#if (lte data.data.wounds.value
                            data.data.health.redHigh)}}class="health-update red-border red-status-background" {{/if}}
                            {{#if (lte data.data.wounds.value
                            data.data.health.yellowHigh)}}class="health-update yellow-border yellow-status-background"
                            {{/if}} {{#if (lte data.data.wounds.value
                            data.data.wounds.max)}}class="health-update green-border green-status-background" {{/if}}
                            name="data.wounds.value" type="text" value="{{data.data.wounds.value}}" data-dtype="Number">
                        <div class="health-adjust">
                            <a class="increase-health">
                                <i class="fas fa-angle-double-up"></i>
                            </a>
                            <a class="decrease-health">
                                <i class="fas fa-angle-double-down"></i>
                            </a>
                        </div>
                    </div>

                    {{!-- Dropdown for selecting scene status --}}
                    <h4>{{localize "SCRPG.powerquality.sceneStatus"}}</h4>
                    <select {{#if (eq data.data.scene "green" )}}
                        class="scene-update green-border green-status-background" {{/if}} {{#if (eq
                        data.data.scene "yellow" )}} class="scene-update yellow-border yellow-status-background" {{/if}}
                        {{#if (eq data.data.scene "red" )}} class="scene-update red-border red-status-background"
                        {{/if}} name="data.scene">
                        {{#select data.data.scene}}
                        {{#each config.scenes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </td>
            {{/if}}
        </tr>
    </table>
</section>

{{!-- Standard Rolls --}}
<section>
    <div class="combined-roll box-border">
        {{!-- Current selected power and die type --}}
        <p><b>{{#if (eq data.data.dividedPsyche true)}}
                {{#if (eq data.data.poweredMode true)}}
                {{localize "SCRPG.powerquality.power"}}:
                {{else}}
                {{localize "SCRPG.powerquality.quality"}}:
                {{/if}}
                {{else}}
                {{localize "SCRPG.powerquality.power"}}:
                {{/if}}</b>
            {{#if (eq data.data.firstDieName "N/A")}}{{localize "SCRPG.sheet.newItem"}}
            {{else}}
            {{this.actor.data.data.firstDieName}}
            {{/if}}
            {{this.actor.data.data.firstDie}}</p>
        {{!-- Current selected quality and die type --}}
        <p><b>{{#if (eq data.data.dividedPsyche true)}}
                {{#if (eq data.data.civilianMode true)}}
                {{localize "SCRPG.powerquality.quality"}}:
                {{else}}
                {{localize "SCRPG.powerquality.power"}}:
                {{/if}}
                {{else}}
                {{localize "SCRPG.powerquality.quality"}}:
                {{/if}}</b>
            {{#if (eq data.data.secondDieName "N/A")}}{{localize "SCRPG.sheet.newItem"}}
            {{else}}
            {{this.actor.data.data.secondDieName}}
            {{/if}}
            {{this.actor.data.data.secondDie}}</p>
        {{!-- Current selected status and die type--}}
        <p><b> {{localize "SCRPG.powerquality.status"}}:</b>
            {{#if (eq data.data.thirdDieName "N/A")}}{{localize "SCRPG.sheet.newItem"}}
            {{else}}
            {{#if (eq data.data.thirdDieName "green")}}{{localize "SCRPG.scene.green"}}{{/if}}
            {{#if (eq data.data.thirdDieName "yellow")}}{{localize "SCRPG.scene.yellow"}}{{/if}}
            {{#if (eq data.data.thirdDieName "red")}}{{localize "SCRPG.scene.red"}}{{/if}}
            {{#if (eq this.actor.type "villain")}}{{this.actor.data.data.thirdDieName}}{{/if}}
            {{/if}}
            {{this.actor.data.data.thirdDie}}</p>
        <a title='{{localize "SCRPG.button.rollMain"}}' class="make-roll">
            <i class="fas fa-dice"></i>
        </a>
    </div>
</section>