{{!-- Principles --}}
<section class="sheet-content principles twocolgrid box-border">
    {{!-- Entries for first principle, roleplaying info, minor twist and major twist --}}
    <div class="principle DroppableFirstPrinciple">
        <h3 class="section-name section-name-principle">
            <input name="system.firstPrinciple.name" type="text" value="{{actor.system.firstPrinciple.name}}"
                placeholder='{{localize "SCRPG.sheet.firstPrinciple"}}'>
        </h3>
        <h4 class="principle-section">
            {{localize "SCRPG.principles.duringRoleplaying"}}
        </h4>
        <div>
            {{editor enrichedFirstPrincipleRoleplaying target="system.firstPrinciple.roleplaying" button=true
            editable=editable}}
        </div>
        <h4 class="principle-section">
            {{localize "SCRPG.twist.minorTwist"}}
        </h4>
        <div>
            {{editor enrichedFirstPrincipleMinorTwist target="system.firstPrinciple.minorTwist" button=true
            editable=editable}}
        </div>
        <h4 class="principle-section">
            {{localize "SCRPG.twist.majorTwist"}}
        </h4>
        <div>
            {{editor enrichedFirstPrincipleMajorTwist target="system.firstPrinciple.majorTwist" button=true
            editable=editable}}
        </div>
    </div>

    {{!-- Entries for second principle, roleplaying info, minor twist and major twist --}}
    <div class="principle left-border DroppableSecondPrinciple">
        <h3 class="section-name section-name-principle">
            <input name="system.secondPrinciple.name" type="text" value="{{actor.system.secondPrinciple.name}}"
                placeholder='{{localize "SCRPG.sheet.secondPrinciple"}}'>
        </h3>
        <h4 class="principle-section">
            {{localize "SCRPG.principles.duringRoleplaying"}}
        </h4>
        <div>
            {{editor enrichedSecondPrincipleRoleplaying target="system.secondPrinciple.roleplaying" button=true
            editable=editable}}
        </div>
        <h4 class="principle-section">
            {{localize "SCRPG.twist.minorTwist"}}
        </h4>
        <div>
            {{editor enrichedSecondPrincipleMinorTwist target="system.secondPrinciple.minorTwist" button=true
            editable=editable}}
        </div>
        <h4 class="principle-section">
            {{localize "SCRPG.twist.majorTwist"}}
        </h4>
        <div>
            {{editor enrichedSecondPrincipleMajorTwist target="system.secondPrinciple.majorTwist" button=true
            editable=editable}}
        </div>
    </div>
</section>