<div class="SCRPG chat roll">
    <div class="scene box-border box-border-black {{coloring}}-abilities">
        <h3>{{#if (eq coloring "villain")}}{{localize "SCRPG.scene.sceneReset"}}
            {{else}}
            {{localize "SCRPG.scene.sceneColor"}}
            {{#if (eq coloring "green")}}{{localize "SCRPG.scene.green"}}{{/if}}
            {{#if (eq coloring "yellow")}}{{localize "SCRPG.scene.yellow"}}{{/if}}
            {{#if (eq coloring "red")}}{{localize "SCRPG.scene.red"}}{{/if}}
            {{/if}}
        </h3>
    </div>
</div>