{{!-- Sheet for displaying hero minions --}}

<form class="{{cssClass}}" autocomplete="off">
    <header class="hero-minion-title sheet-header">
        <h3 class="box-border villain-abilities"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'Name' }}" /></h3>
    </header>
    <div class="sheet-content heroMinion-sheet">
        <table class="box-border">
            <tr class="villain-abilities">
                <th>
                    {{localize "SCRPG.minion.action"}}
                </th>
                {{#unless (eq this.item.actor.system.type "minion")}}
                <th>
                    {{#unless (eq this.item.actor.system.type "hero")}}
                    {{localize "SCRPG.minion.ability"}}
                    {{else}}
                    {{localize "SCRPG.minion.form"}}
                    {{/unless}}
                </th>
                {{/unless}}
                <th>
                    {{localize "SCRPG.sheet.die"}}
                </th>
            </tr>
            <tr class="villain-abilities">
                <td>
                    {{!-- Drop down to select the action the minion can take --}}
                    <select name="system.action">
                        {{#select item.system.action}}
                        {{#each config.actionType as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                {{#unless (eq this.item.actor.system.type "minion")}}
                <td>
                    {{!-- Drop down to select the form that it can take --}}
                    {{!-- list is generated from character options --}}
                    <select name="system.form">
                        {{#select item.system.form}}
                        <option value="N/A">N/A</option>
                        {{#each this.item.actor.minionForm as |minionForm|}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                {{/unless}}
                <td>
                    {{!-- Drop down to select minion die type --}}
                    <select name="system.dieType">
                        {{#select item.system.dieType}}
                        {{#each config.dieTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>

        </table>
    </div>


</form>