{{!-- Sheet for displaying Environments --}}

<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-content">
        <div class="principle box-border">
            <div>
                <h3 class="principle-title">
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder='{{localize "SCRPG.charInfo.principle"}}'>
                </h3>
            </div>
            <h4 class="principle-section">
                {{localize "SCRPG.principles.duringRoleplaying"}}
            </h4>
            <div>
                {{editor enrichedPrincipleRoleplaying target="system.roleplaying" button=true editable=editable}}
            </div>

            <h4 class="principle-section">
                {{localize "SCRPG.twist.minorTwist"}}
            </h4>
            <div>
                {{editor enrichedPrincipleMinorTwist target="system.minorTwist" button=true editable=editable}}
            </div>
            <h4 class="principle-section">
                {{localize "SCRPG.twist.majorTwist"}}
            </h4>
            <div>
                {{editor enrichedPrincipleMajorTwist target="system.majorTwist" button=true editable=editable}}
            </div>
        </div>
    </div>
</form>